*, html{
  padding: none;
  margin: none;
}

*{
margin-block-start: 0em;
  margin-block-end: 0em;
}

.App{
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  width: 100vw;
}
/* NavBar */
* {
  box-sizing: border-box
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.nav{
  background-color:black;
  color: white;
  padding: 2em;
}
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}


.navbar a {
  float: left;
  padding: 16px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: orangered;
}

.navbar a.active {
  background-color: yellow;
  color: black;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: flex;
    width: 100%;
    text-align: left;
  }
}

/* Home Component */

.home-container{
  display: flex;
  padding: 3em;
  width: 90%;

}



.home-title{
  font-size: 4rem;
  margin: 2em;
}

.image1{
  width: 50vw;
  border-radius: 60px;
}

@media screen and (max-width: 500px) {
  .home-container {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    
  }

  .container-data{
    width: 100%;
  }
  .home-title{
    font-size: 3rem;
    margin: 0;
    text-align: center;
  }
  .image1{
    border-radius: 10px;
    width: 90%;

  }

  .home-container{
    padding: 1.5em;
    margin-bottom: 3em;
    width: 100%;
  }

}

.search-title{
  padding: 1em;
  text-align: center;
}

.search{
width: 90%;
padding: 1em;
}

/* form  */

.form-container{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

}

.form{
 
  margin: auto;
  margin: 0;
  padding: 1em;
  width: 80%;
}

input{
  margin: 1em 0.5em;
  padding: .5em;
}

.form-header{
  padding: 2em;
  text-align: center;
}

textarea{
  margin: .5em;
  width: 50%;
}

@media screen and (max-width: 400px) {
  .form-header {
      padding: 1em;
      text-align: center;
    }
  .form-container {
    padding: 2em;

  }
    .form {
      width: 100%;
  
    }
                 textarea{
          width: 100%;
    
        }
}

.btn{
  background-color: orangered;
  border: none; 
   color: white;
   font-size: 1rem;
   font-weight: bolder;
  outline: white 1px solid;
padding: .75em;
}
/* Search */

.search{
  outline: 2px solid green;
}

/* //Inventory */

.inventory-container{
  border: 1rem solid black;
  
  
}

.pic-container{
  border: 1rem solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 0;
  
}

.photo{
  border: blueviolet 4px solid;
  margin: 1em 1.5em;
  width: 400px;
  
}
ul{
  display: flex;
  flex-wrap: wrap;
 
}
li{
  padding: .5em ;
  
}
.button-holder{
  display: flex;
  
  justify-content: flex-end;
  position: relative;
}

.photo-title{
  font-size: 2rem;
}

.photo-button{
background-color: orangered;
color: white;
margin: 1em;
padding: .5em;
/* position: absolute;
bottom: 0;
right: 0;
left: 0%; */
width: 90%;

}

@media screen and (max-width: 400px) {
  .photo {
    padding: 1em;
    width: 100%;
  }
  ul{
    padding: 0;
  }
}

/* Single Card */
.container{
  display: flex;
  height: 100vh;
}

.delete{
  background-color:black;
  color: white;
}

.edit{
  background-color: yellow;
  color: black;
}

.single-btn{
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  padding: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.foot{
  background-color: black;
  color: white;
  padding: .5em;
  position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
    margin-top: 2em;  
  text-align: center;

}
